doctype html
html
    head
        title My Portfolio
        link(rel='stylesheet' href='../../css/style.css')
        script(src='https://kit.fontawesome.com/b6a6d306f2.js' crossorigin='anonymous')
    body
        nav(class='navbar')
            div(class='navbar--container')
                div
                    p(class='logo') Jaskiran />
                div(class='navbar__line')
                    div(class='navbar--line__one')
                    div(class='navbar--line__two')
                    div(class='navbar--line__three')

        header(class='main-header')
            div(class='container')
                div(class='column-seven--lg')
                    h1(class='main-heading') Jaskiran Chhokar.
                    h2(class='main-heading main-heading-two') I build & design websites
                    p(class='main-subheading') Hi! I'm a Front-end Developer 👩🏻‍💻 based in Toronto, Ontario. I'm passionate about creating user-friendly, well-designed, responsive and accessible web projects.
                    a(class='main-button' href='#contact') Get in Touch
                div(class='main--line')
                    div(class='main--icons')
                        i(class='main--icon fab fa-github-alt fa-lg')
                        i(class='main--icon fab fa-behance fa-lg')
                        i(class='main--icon fab fa-linkedin-in fa-lg')
                        i(class='main--icon fab fa-codepen fa-lg')
                    div(class='main--verticle-line')

        section(class='about-me')
            div(class='about-me--container container')
                div(class='column-sixhalf--lg')
                    div(class='about-me--box')
                        h2(class='secondary-heading') About Me
                        p(class='about-me--para') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.  repos by number numb.
                        div(class='about-me--skills')
                            div(class='about-me--skill') HTML5
                            div(class='about-me--skill') CSS3
                            div(class='about-me--skill') Sass
                            div(class='about-me--skill') JavaScript (ES6)
                            div(class='about-me--skill') React
                            div(class='about-me--skill') Redux
                            div(class='about-me--skill') Node.js
                            div(class='about-me--skill') Express
                            div(class='about-me--skill') Jade / Pug
                            div(class='about-me--skill') jQuery
                            div(class='about-me--skill') Webpack
                            div(class='about-me--skill') Parcel
                            div(class='about-me--skill') Gulp / Grunt
                            div(class='about-me--skill') AWS
                            div(class='about-me--skill') Git / Github
                            div(class='about-me--skill') UI / UX Design
                            div(class='about-me--skill') Figma
                            div(class='about-me--skill') Sketch
                            div(class='about-me--skill') Wireframing
                            div(class='about-me--skill') Bootstrap
                            div(class='about-me--skill') SEO

                div(class='column-three--lg')
                    div(class='about-me--border')
                    img(class='about-me--image image-fluid' src="https://pbs.twimg.com/profile_images/1266494838960271362/A7Dv3loD.jpg")
                    div(class='about-me--image-overlay')

        section(class='featured-work')
            div(class='container')
                div(class='column-ten--lg')
                    div(class='featured-work--box')
                        h2(class='secondary-heading') Featured Projects
                    div(class='featured-work--projects')

                        div(class='featured-work--project featured-work--project-one')
                            div(class='featured-work--img featured-work--img-one')
                            div(class='featured-work--info')
                                div(class='featured-work--info-box')
                                    h3(class='featured-work--title') Raman Illusions
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React

                        div(class='featured-work--project featured-work--project-two')
                            div(class='featured-work--info')
                                div(class='featured-work--info-boxalt')
                                    h3(class='featured-work--title') E-commerce Multipage Template
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React
                            div(class='featured-work--img featured-work--img-two')

                        div(class='featured-work--project featured-work--project-three')
                            div(class='featured-work--img featured-work--img-three')
                            div(class='featured-work--info')
                                div(class='featured-work--info-box')
                                    h3(class='featured-work--title') Just in Time Self-Storage
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React

        section(class='more-projects')
            div(class='container')
                div(class='column-ten--lg')
                        h2(class='secondary-heading') Other Noteworthy Projects
                div(class='more-projects--contain column-ten--lg')
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 Interactive Form 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML | CSS | JavaScript | React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 List Pagination & Filtering 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML | CSS | JavaScript | React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 Phrase Hunter 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML | CSS | JavaScript | React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 Awesome Employee Directory 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML | CSS | JavaScript | React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 React Gallery 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML | CSS | JavaScript | React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 My Behance Designs 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML | CSS | JavaScript | React

                        //- div(class='featured-work--project')
                        //-     div(class='featured-work--info')
                        //-         h3 Phrase Hunter Game
                        //-     div(class='featured-work--img featured-work--img-four')

                        //- div(class='featured-work--project')
                        //-     div(class='featured-work--img featured-work--img-five')
                        //-     div(class='featured-work--info')
                        //-         h3 Interactive Form

                        //- div(class='featured-work--project')
                        //-     div(class='featured-work--info')
                        //-         h3 Employee Startup Directory
                        //-     div(class='featured-work--img featured-work--img-six')
    
    script(src='../../node_modules/gsap/dist/gsap.min.js')
    script(src='../../node_modules/scrollmagic/scrollmagic/minified/ScrollMagic.min.js')
    script(src='../../node_modules/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js')
    script(src='../../node_modules/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js')
    script(src='../../public/js/animations.js')