doctype html
html
    head
        title My Portfolio
        link(rel='stylesheet' href='../../css/style.css')
        script(src='https://kit.fontawesome.com/b6a6d306f2.js' crossorigin='anonymous')
    body
        nav(class='navbar')
            div(class='navbar--container')
                div
                    p(class='logo') Jaskiran />
                div(class='navbar__line')
                    div(class='navbar--line__one')
                    div(class='navbar--line__two')
                    div(class='navbar--line__three')

        header(class='main-header')
            div(class='container')
                div(class='column-seven--lg')
                    h1(class='main-heading') Jaskiran Chhokar.
                    h2(class='main-heading main-heading-two') I build & design websites
                    p(class='main-subheading') Hi! I'm a Front-end Developer 👩🏻‍💻 based in Toronto, Ontario. I'm passionate about creating user-friendly, well-designed, responsive and accessible web projects.
                    a(class='main-button' href='#contact') Get in Touch
                div(class='main--line')
                    div(class='main--icons')
                        a(href='https://github.com/jaskiran-chhokar' target='_blank')
                            i(class='main--icon fab fa-github-alt fa-lg')
                        a(href='https://www.behance.net/jaskiranc' target='_blank')
                            i(class='main--icon fab fa-behance fa-lg')
                        a(href='https://www.linkedin.com/in/jaskiranchhokar/' target='_blank')
                            i(class='main--icon fab fa-linkedin-in fa-lg')
                        a(href='https://codepen.io/jaskiranchhokar' target='_blank')
                            i(class='main--icon fab fa-codepen fa-lg')
                    div(class='main--verticle-line')

        section(class='about-me')
            div(class='about-me--container container')
                div(class='column-sixhalf--lg')
                    div(class='about-me--box')
                        h2(class='secondary-heading') About Me
                        p(class='about-me--para') I'm passionate about bringing both the technical and visual aspects of digital products to life. I care deeply about #[span(class='font-weight--bold') enhancing user experience], creating accessible web projects and #[span(class='font-weight--bold') writing readable code]. writing readable code.
                        p(class='about-me--para about-me--para-two') I'm happiest when I'm creating, learning, exploring and thinking about how to make things better and solve problems. I'm #[span(class='font-weight--bold') happiest when I'm creating], learning, exploring and thinking.
                        a(class='about-me--button' href='#featured-projects') Check Out My Projects
                            i(class='fas fa-angle-down')

                div(class='column-three--lg')
                    div(class='about-me--border')
                    img(class='about-me--image image-fluid' src="../../public/images/me.jpg")
                    div(class='about-me--image-overlay')

        section(class='my-skills')
            div(class='my-skills--title')
                h2(class='secondary-heading') Skills and Tools
            div(class='my-skills--container container')
                div(class='my-skills--row')
                    div(class='column-two--lg')
                        h4 Languages
                        div(class='about-me--skills') JavaScript (ES6+)
                        div(class='about-me--skills') HTML5
                        div(class='about-me--skills') CSS3
                    div(class='column-two--lg')
                        h4 Frameworks
                        div(class='about-me--skills') React
                        div(class='about-me--skills') Node.js
                        div(class='about-me--skills') Express
                        div(class='about-me--skills') Jade / Pug
                        div(class='about-me--skills') Sass
                        div(class='about-me--skills') jQuery
                        div(class='about-me--skills') Bootstrap
                    div(class='column-two--lg')
                        h4 Tools
                        div(class='about-me--skills') Webpack
                        div(class='about-me--skills') Parcel
                        div(class='about-me--skills') Gulp / Grunt
                        div(class='about-me--skills') Git
                        div(class='about-me--skills') Dev Tools
                        div(class='about-me--skills') Postman
                        div(class='about-me--skills') AWS
                        div(class='about-me--skills') CLI 
                        div(class='about-me--skills') SEO
                    div(class='column-two--lg')
                        h4 Design
                        div(class='about-me--skills') Wireframing
                        div(class='about-me--skills') UI / UX Design
                        div(class='about-me--skills') Figma
                        div(class='about-me--skills') Adobe XD

        section(class='featured-work')
            div(class='container')
                div(class='column-ten--lg')
                    div(class='featured-work--box')
                        h2(class='secondary-heading') Featured Projects
                    div(class='featured-work--projects')

                        div(class='featured-work--project featured-work--project-one')
                            div(class='featured-work--img featured-work--img-one')
                            div(class='featured-work--info')
                                div(class='featured-work--info-box')
                                    h3(class='featured-work--title') Raman Illusions
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React

                        div(class='featured-work--project featured-work--project-two')
                            div(class='featured-work--info')
                                div(class='featured-work--info-boxalt')
                                    h3(class='featured-work--title') E-commerce Multipage Template
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React
                            div(class='featured-work--img featured-work--img-two')

                        div(class='featured-work--project featured-work--project-three')
                            div(class='featured-work--img featured-work--img-three')
                            div(class='featured-work--info')
                                div(class='featured-work--info-box')
                                    h3(class='featured-work--title') Just in Time Self-Storage
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React

        section(class='more-projects')
            div(class='container')
                div(class='column-ten--lg')
                        h2(class='secondary-heading') Other Noteworthy Projects
                div(class='more-projects--contain column-ten--lg')
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 Interactive Form 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML / CSS / JavaScript / React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 List Pagination & Filtering 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML / CSS / JavaScript / React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 Phrase Hunter 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML / CSS / JavaScript / React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 Awesome Employee Directory 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML / CSS / JavaScript / React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 React Gallery 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML / CSS / JavaScript / React
                    div(class='more-projects--project')
                        div(class='more-projects--icons')
                            i(class='fab fa-github')
                            i(class="fas fa-external-link-alt")
                        h4 My Behance Designs 
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima, qui?
                        p(class='more-projects--techologies') HTML / CSS / JavaScript / React
        
        section(class='contact-me')
            div(class='container')
                div
                    h2(class='secondary-heading') Get in Touch With Me!
                    p(class='contact-me--text') Dropping a line to say g’day, ask for my resume or see if we can build something amazing together? I’d love to hear from you! #[span(class='font-weight--bold') jaskiranchhokar@gmail.com]
                    a(class='main-button' href='') Email Me
                        i(class='far fa-envelope')

    
    script(src='../../node_modules/gsap/dist/gsap.min.js')
    script(src='../../node_modules/scrollmagic/scrollmagic/minified/ScrollMagic.min.js')
    script(src='../../node_modules/scrollmagic/scrollmagic/minified/plugins/animation.gsap.min.js')
    script(src='../../node_modules/scrollmagic/scrollmagic/minified/plugins/debug.addIndicators.min.js')
    script(src='../../public/js/animations.js')