doctype html
html
    head
        title My Portfolio
        link(rel='stylesheet' href='../../css/style.css')
        script(src='https://kit.fontawesome.com/b6a6d306f2.js' crossorigin='anonymous')
    body
        nav(class='navbar')
            div
                p Jaskiran />
            div(class='navbar__line')
                div(class='navbar--line__one')
                div(class='navbar--line__two')
                div(class='navbar--line__three')

        header(class='main-header')
            div(class='container')
                div(class='column-seven--lg')
                    h1(class='main-heading') Jaskiran Chhokar.
                    h1(class='main-heading main-heading-two') I build & design websites
                    p(class='main-subheading') Hi! I'm a Front-end Developer 👩🏻‍💻 based in Toronto, Ontario. I'm passionate about creating user-friendly, well-designed, responsive and accessible web projects.
                    a(class='main-button' href='#contact') Get in Touch
                div(class='main--line')
                    div(class='main--icons')
                        i(class='fab fa-github-alt fa-lg')
                        i(class='fab fa-behance fa-lg')
                        i(class='fab fa-linkedin-in fa-lg')
                        i(class='fab fa-codepen fa-lg')
                    div(class='main--verticle-line')

        section(class='featured-work')
            div(class='container')
                div(class='column-ten--lg')
                    div(class='featured-work--box')
                        h2(class='secondary-heading') Featured Projects
                    div(class='featured-work--projects')

                        div(class='featured-work--project')
                            div(class='featured-work--img featured-work--img-one')
                            div(class='featured-work--info')
                                div(class='featured-work--info-box')
                                    h3(class='featured-work--title') Raman Illusions
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React

                        div(class='featured-work--project')
                            div(class='featured-work--info')
                                div(class='featured-work--info-boxalt')
                                    h3(class='featured-work--title') E-commerce Multipage Template
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React
                            div(class='featured-work--img featured-work--img-two')

                        div(class='featured-work--project')
                            div(class='featured-work--img featured-work--img-three')
                            div(class='featured-work--info')
                                div(class='featured-work--info-box')
                                    h3(class='featured-work--title') Just in Time Self-Storage
                                    p(class='featured-work--description') A nicer look at your GitHub profile and repo stats. Includes data visualizations of your top languages, starred repositories, and sort through your top repos by number of stars, forks, and size.
                                    div
                                        div(class='featured-work--tags') HTML
                                        div(class='featured-work--tags') CSS
                                        div(class='featured-work--tags') JavaScript
                                        div(class='featured-work--tags') React

                        //- div(class='featured-work--project')
                        //-     div(class='featured-work--info')
                        //-         h3 Phrase Hunter Game
                        //-     div(class='featured-work--img featured-work--img-four')

                        //- div(class='featured-work--project')
                        //-     div(class='featured-work--img featured-work--img-five')
                        //-     div(class='featured-work--info')
                        //-         h3 Interactive Form

                        //- div(class='featured-work--project')
                        //-     div(class='featured-work--info')
                        //-         h3 Employee Startup Directory
                        //-     div(class='featured-work--img featured-work--img-six')